.moment-right{
  padding: 0px;
  
}
.moment-section {
    background-repeat: repeat;
    padding: 50px 0px 0 20px;
  }
  
  .moment-section .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
  }
  
  /* Left Section */
  .moment-left {
    text-align: center;
    padding: 0px;
    position: relative;
  }
  
  .pad {
    position: relative;
    display: inline-block;
  }
  
  .pad-image {
    width: 75%;
    /* max-width: 300px; Adjust size as needed */
    height: auto;
  }
  
  .pad-content {
    position: absolute;
    top: 25%; 
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    color: #4caf50; 
    font-family: 'Arial', sans-serif;
    
  }
  
  .pad-title {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 15px;
    color: #4caf50;
    transform: rotate(-7deg);
    
  }
  
  .burger-image {
    width: 100%;
    /* max-width: 300px; Adjust size as needed */
    height: auto;
  }

  .burger-in-hand {
    display: flex;
    justify-content: end;
}
.round{
  background-color: #428f19;
  clip-path: ellipse(50% 95% at 50% 50%);
  color: white;
  font-size: 17px;
  margin-left: 15px;
  transform: rotate(-7deg);
  padding: 3px 0px;
}
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .burger-image {
      /* width: 100%; */
    }
  
    .pad-title {
      font-size: 1.5rem;
    }
  
    .order-now-btn {
      padding: 8px 16px;
      font-size: 1rem;
    }
    .round{
      font-size: 15px;
    }
  }
  
  @media (max-width: 480px) {
    .pad-title {
      font-size: 1.2rem;
    }
   .round{
      font-size: 15px !important;
    }
    .pad-content {
        position: absolute;
        top: 28%; 
        left: 50%;}
        .order-now-btn {
            /* padding: 6px 12px; */
            font-size: 1rem;
        }
  }
  @media (min-width: 1700px){
    .pad-image {
      width: 100%;
      height: auto;
    }
  }
  